#cloud-config
ssh_pwauth: no
users:
  - name: ${username}
    groups: ${user_groups}
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    lock_passwd: false
    ssh_authorized_keys:
      - ${ssh_key}
runcmd: []